html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

main {
	margin: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
}

.navbar {
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 3rem;
}

.newsletter-button {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media only screen and (max-width: 850px) {
	.navbar {
		gap: 10px;
	}

	.navbar-item {
		width: 100%;
	}

	#post-section {
		width: 100%;
		margin: auto;
	}
	.post,
	.sidebar {
		min-height: 200px;
		width: 95%;
		margin: auto;
	}

	main {
		flex-wrap: wrap-reverse;
	}

	.newsletter-button {
		justify-content: center;
	}

	.newsletter-button button {
		width: 100%;
	}
}
@media only screen and (min-width: 850px) {
	#post-section {
		width: 50%;
		margin-left: 20%;
	}

	.post {
		width: 45%;
		flex-grow: 1;
	}
	.post img {
		height: 300px;
		object-fit: cover;
	}
	.sidebar {
		width: 25%;
		margin-right: 20px;
		position: sticky;
	}
}

.sidebar div {
	width: 100%;
	margin-bottom: 1rem;
}

.about {
	padding: 20px;
}

#post-section {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
.logo {
	width: 30%;
}

header {
	border-bottom: 1px solid #000;
	padding: 10px;
	text-align: center;
	font-size: 35px;
	color: black;
}

.post:hover img {
	transition: 0.7s;
	opacity: 0.7;
}

.category {
	position: absolute;
	background-color: rgba(106, 106, 106, 0.39);
	color: black;
	padding: 5px;
	border-radius: 2px;
	padding: 5px;
	margin: 5px;
	text-decoration: none;
}

footer {
	padding: 2.5rem 0;
	color: #727272;
	text-align: center;
	background-color: #f9f9f9d4;
	border-top: 0.05rem solid #e5e5e5;
}

.card-body {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.modal {
	background-color: rgba(0, 0, 0, 0.5);
}

.btn-close {
	font-size: x-large;
	border: 0;
	background-color: transparent;
	color: #727272;
}

.btn-close:hover {
	color: #000;
}
